SOAP/CalculatorWS_Client_Application/src/wsdl/localhost_8080/CalculatorWS/CalculatorWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculator.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculator.me.org/" name="CalculatorWS">
<types>
<xsd:schema>
<xsd:import namespace="http://calculator.me.org/" schemaLocation="http://localhost:8080/CalculatorWS/CalculatorWS?xsd=1"/>
</xsd:schema>
</types>
<message name="prime">
<part name="parameters" element="tns:prime"/>
</message>
<message name="primeResponse">
<part name="parameters" element="tns:primeResponse"/>
</message>
<message name="mul">
<part name="parameters" element="tns:mul"/>
</message>
<message name="mulResponse">
<part name="parameters" element="tns:mulResponse"/>
</message>
<message name="sub">
<part name="parameters" element="tns:sub"/>
</message>
<message name="subResponse">
<part name="parameters" element="tns:subResponse"/>
</message>
<message name="div">
<part name="parameters" element="tns:div"/>
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse"/>
</message>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="root">
<part name="parameters" element="tns:root"/>
</message>
<message name="rootResponse">
<part name="parameters" element="tns:rootResponse"/>
</message>
<portType name="CalculatorWS">
<operation name="prime">
<input wsam:Action="http://calculator.me.org/CalculatorWS/primeRequest" message="tns:prime"/>
<output wsam:Action="http://calculator.me.org/CalculatorWS/primeResponse" message="tns:primeResponse"/>
</operation>
<operation name="mul">
<input wsam:Action="http://calculator.me.org/CalculatorWS/mulRequest" message="tns:mul"/>
<output wsam:Action="http://calculator.me.org/CalculatorWS/mulResponse" message="tns:mulResponse"/>
</operation>
<operation name="sub">
<input wsam:Action="http://calculator.me.org/CalculatorWS/subRequest" message="tns:sub"/>
<output wsam:Action="http://calculator.me.org/CalculatorWS/subResponse" message="tns:subResponse"/>
</operation>
<operation name="div">
<input wsam:Action="http://calculator.me.org/CalculatorWS/divRequest" message="tns:div"/>
<output wsam:Action="http://calculator.me.org/CalculatorWS/divResponse" message="tns:divResponse"/>
</operation>
<operation name="add">
<input wsam:Action="http://calculator.me.org/CalculatorWS/addRequest" message="tns:add"/>
<output wsam:Action="http://calculator.me.org/CalculatorWS/addResponse" message="tns:addResponse"/>
</operation>
<operation name="root">
<input wsam:Action="http://calculator.me.org/CalculatorWS/rootRequest" message="tns:root"/>
<output wsam:Action="http://calculator.me.org/CalculatorWS/rootResponse" message="tns:rootResponse"/>
</operation>
</portType>
<binding name="CalculatorWSPortBinding" type="tns:CalculatorWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="prime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="root">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorWS">
<port name="CalculatorWSPort" binding="tns:CalculatorWSPortBinding">
<soap:address location="http://localhost:8080/CalculatorWS/CalculatorWS"/>
</port>
</service>
</definitions>